* {
    margin: 0px;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  }
  
  .mainDiv {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-image: linear-gradient(
      to bottom,
      rgb(228, 115, 115),
      rgb(220, 146, 230),
      rgb(155, 138, 218)
    );
    height: 100vh;
    width: 100vw;
  }
  
  .heading {
    font-size: 30px;
    color: rgb(54, 27, 12);
  }
  
  .input {
    padding: 8px 6px;
    width: 50vw;
    outline: red;
    border-radius: 4px;
    border: black solid 1px;
    box-shadow: 1px 1px 5px black;
  }
  
  .rowDiv {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 10px;
  }
  
  button {
    border: none;
    outline: none;
    border-radius: 3px;
    cursor: pointer;
  }
  
  .add {
    padding: 8px 17px;
    margin-left: 10px;
    background-color: rgb(51, 27, 156);
    color: #ffffff;
    box-shadow: 1px 1px 5px black;
  }
  
  .allTodo {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    margin-top: 20px;
    max-height: 70vh;
    overflow-y: scroll;
  }
  
  .allTodo::-webkit-scrollbar {
    display: none;
  }
  
  .saveBtn {
    background-color: rgb(179, 218, 40);
    padding: 6px 20px;
    color: rgb(34, 37, 235);
    font-weight: bold;
    margin-top: 16px;
    box-shadow: inset 2px 2px 10px black;
    box-shadow: 1px 1px 10px black;
  }
  